* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: purple;
}

body {
    padding: 25px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 50px;
}

pre {
    font-family: 'Source Code Pro', monospace;
}

.btn-answer {
    display: block;
    margin: 15px;
    padding: 5px;
}

.btn-purple {
    background-color: purple;
    color: white;
}

.btn-purple:hover {
    background-color: #a222a2;
    color: white;
}

#correct-answer-indicator {
    display: none;
}

#incorrect-answer-indicator {
    display: none;
}

#timer {
    display: none;
    text-align: right;
    font-weight: 600;
}

#quiz-intro h1 {
    text-align: center;
}

#quiz-intro p {
    text-align: center;
}

#quiz-question {
    display: none;
}

#quiz-question h1 {
    margin-bottom: 30px;
}

#start {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
