* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: purple;
}

body {
    padding: 25px;
}

h1 {
    margin-bottom: 30px;

    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 50px;
}

pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid #898989;
    padding: 5px;
}

.btn-answer {
    display: block;
    margin: 15px;
    padding: 5px;
}

.btn-purple {
    background-color: purple;
    color: white;
}

.btn-purple:hover {
    background-color: #a222a2;
    color: white;
}

#highscores {
    display: none;
}

#highscores h1 {
    text-align: center;
}

#timer {
    display: none;
    text-align: right;
    font-weight: 600;
}

#quiz-intro h1 {
    text-align: center;
}

#quiz-intro p {
    text-align: center;
}

#quiz-question {
    display: none;
}

#quiz-question h1 {
    font-size: 28px;
}

#score-list {
    margin: 50px 25px;
}

#start {
    display: block;
    margin-left: auto;
    margin-right: auto;
}